
$menu_text: #333;
$menu_hover_bg: rgb(41, 138, 251);
$menu_bg: white;
$item_height: 30px;
$radius: 4px;
.Menu {
    position: absolute;
    z-index: 1001;
    .list {
        list-style: none;
        background-color: $menu_bg;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        border-radius: $radius;
        cursor: default;
        box-shadow: 1px 1px 3px rgba(black, 0.3);
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            position: relative;
            padding: 0 3em 0 1.6em;
            white-space: nowrap;
            list-style: none;
            height: $item_height;
            line-height: $item_height;
            min-width: 5em;
            max-width: 10em;
            box-sizing: border-box;
            color: $menu_text;
            i {
                position: absolute;
                right: 1em;
                line-height: $item_height;
                color: $menu_text;
            }
        }
        li.on::before {
            content: '✓';
            position: absolute;
            left: 0.4em;
        }
        li:hover {
            color: white;
            background-color: $menu_hover_bg;
        }
        li:first-child:hover {
            border-radius: $radius $radius 0 0;
        }
        li:last-child:hover {
            border-radius: 0 0 $radius $radius;
        }
        li.sep {
            height: 1px;
            background-color: #ddd;
            margin-left: 1.6em;
        }
    }

    .ico.gt {
        display: block;
        top: 50%;
        margin-top: -5px;
        width: 10px;
        height: 10px;
    }
    .ico.gt::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border: 2px solid black;
        border-width: 1px 1px 0 0;
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }
}
