@import "variables";
@import "animation";
@import "Tabs";
@import "Popup";
@import "Menu";
@import "ProgressBar";

.HGroup, .VGroup, .View {
    position: relative;
}
.Gutter {
    background-color: #eee;
}
.HGroup > .Gutter {
    width: 4px;
}
.VGroup > .Gutter {
    height: 4px;
}

.Gutter.ns {
    cursor: row-resize;
}

.Gutter.we {
    cursor: col-resize;
}

.Grid {
    overflow: hidden;
    position: relative;
}

.View {
    overflow: hidden;
    > .Grid {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.Mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
