@import "variables";
@import "animation";
@import "Tabs";
@import "Popup";

.HGroup {
    display: flex;
    flex-direction: row;
}
.VGroup {
    display: flex;
    flex-direction: column;
}
.HGroup, .VGroup, .View {
    flex-basis: 0;
    flex: 1;
    // width: 100%;
    // height: 100%;
}
.View {
    position: relative;
}
.Gutter {
    background-color: #eee;
}
.HGroup > .Gutter {
    width: 4px;
    min-width: 4px;
    max-width: 4px;
}
.VGroup > .Gutter {
    height: 4px;
    min-height: 4px;
    max-height: 4px;
}

.Gutter.ns {
    cursor: row-resize;
}

.Gutter.we {
    cursor: col-resize;
}

.Grid {
    overflow: hidden;
    position: relative;
    flex: 1;
}
.View > .Grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
