@import "variables";

.Tabs-Bar {
    height: $tab-height;
    // -webkit-app-region:drag;
    a {
        color:silver;
    }
    .Tabs-Bar-Item.edit{
        float:right;
    }
    .Tabs-Bar-Item.add a,
    .Tabs-Bar-Item.edit a{
        color: $text;
    }
    .Tabs-Bar-Item {
        cursor: default;
        // -webkit-app-region:no-drag;
        display:inline-block;
        padding:0 20px;
        position:relative;
        height:$tab-height;
        line-height:$tab-height;
        transition:background-color $transition-duration;
        .Close {
            position:absolute;
            top:0;
            right:5px;
            text-decoration: none;

            opacity:0.4;
            transition:opacity $transition-duration;
        }
    }
    .Tabs-Bar-Item:hover{
        background:$light-bg;
    }
    .Tabs-Bar-Item.active{
        background:$light-bg;
    }
    .Tabs-Bar-Item.active:after{
        position:absolute;
        top:0;
        left:0;
        right:0;
        content:'';
        display:block;
        height:3px;
        background-color:$primary;
    }
    .Tabs-Bar-Item:hover {
        .Close {
            opacity:1;
        }
        .closeBtn:hover {
            color:$text;
        }
    }
    .Tabs-Bar-ToolBtns {
        float: right;
        height: 36px;
        line-height: 36px;
    }
    .Tabs-Bar-ToolBtns:empty {
        display: none;
    }
}

.Tabs-Content {
    height:calc(100% - #{$tab-height});
    .TabContentItem {
        position:relative;
        height:100%;
        display:none;
        overflow: hidden;
    }
    .TabContentItem.active{
        display:block;
        background-color:$light-bg;
    }
}
